.home{
    width: 100%;
    height: auto;
    display: flex;
}
.head{
    margin-top: 130px;
    flex-grow: 1;
}
.askquestion{
    all: unset;
    margin-left: 185px;
    /* border: 1px solid black; */
    height: 35px;
    width: 190px;
    text-align: center;
    color:#ffffff;    
    border-radius: 5px;
    background-color: #4B4BDA;
    /* font-weight: bold; */
}
.askquestion:hover{
    cursor: pointer;
    transform: translateY(-5px);
    background-color: #FF8A03;
}
h3{
    margin-left: 185px;
}

h6{
    margin-top: -10px;
    position: absolute;
    right: 190px;
    top:150px;
    font-size: 20px;
    font-weight: lighter;
    font-weight: 500;
    
}
.questions{
    margin:10px ;
    margin-left: 135px;
}
.singlequestion{
    margin: 10px;
    /* border: 1px solid black; */
    /* display: flex; */
    height: 120px;
    width: 700px;
}
li{
    list-style: none;
}
.user{
    /* border: 1px solid black; */
    margin-bottom: 4px;
    height: 70px;
}
.username{
    margin-bottom: 20px;
    margin-left: 5px;
}
.questionandbutton{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 53px;
}
.description{
    margin-left: 200px;
    font-weight: bold;
    margin-top: -2px;
    flex: 1;
    /* text-align: center; */
    
    
}
.next{
    /* margin-left: 700px; */
    /* align-self: flex-end; */
    right: 0;
    margin-right: -250px;
}