.home{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.head{
    margin-top: 130px;
}
.askquestion{
    all: unset;
    margin-left: 185px;
    /* border: 1px solid black; */
    height: 35px;
    width: 190px;
    text-align: center;
    color:#ffffff;    
    border-radius: 5px;
    background-color: #4B4BDA;
    /* font-weight: bold; */
}

h6{
    margin-top: -10px;
    position: absolute;
    right: 190px;
    top:150px;
    font-size: 20px;
    font-weight: lighter;
    font-weight: 500;
    
}